html, body {
    padding: 0;
    margin: 0;
}

* {
    box-sizing: border-box;
}

.container {
    width: 960px;
    margin: 0 auto;
    position: relative;
}

.h60 {
    height: 60px;
}
.header {
    background-color: #bbdbff;
}

.logo {
    display: inline-block;
    background-color: rgb(155, 24, 96);
    color: #d0e6ff;
    padding: 5px 25px;
    font-size: 2em;
    border: 2px solid #fff;
    margin: 5px 0 0 0;
    border-radius: 15px;
}

.navigacija {
    position: absolute;
    width: 700px;
    right: 10px;
    top: 22px;
}

.navigacija-saraksts {
    list-style: none;
    text-align: right;
    padding: 0;
    margin: 0;
}

.navigacija-saraksts li {
    display: inline-block;
}

.nav {
    background-color: #d0e6ff;
    padding: 7px 20px;
    color: rgb(155, 24, 96);
    text-decoration: none;
}

.nav:hover {
    background-color: rgb(155, 24, 96);
    padding: 7px 20px;
    color: #d0e6ff;
    text-decoration: none;
}